@font-face {
	font-family: montserrat;
	src: url("./src/fonts/Montserrat-VariableFont_wght.ttf");
}

body {
	margin: 0;
	padding: 0;
	/* background: #393939; */
	background: white;
}

div,
header,
footer {
	transition: 100ms;
	font-family: montserrat;
}

.bodyContent {
	margin-top: 60px;
	margin-bottom: 55px;
	width: 100%;
}

/* ##################### Error ######################*/

.dataLoadError {
	position: relative;
	top: 15vh;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	display: grid;
}

.errorMessage {
	margin: 0 0 41px 0;
	color: #ff0000d9;
	font-size: 20px;
	font-weight: 400;
}

.errorButton {
	text-decoration: none;
	background: #d8d8d8;
	padding: 10px 20px;
	border-radius: 10px;
	font-weight: 500;
	color: black;
	width: 150px;
	transition: 0.5s;
}

.errorButton:hover {
	/* text-decoration: underline; */
	background: #0000ffad;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 10px 22px;
	font-size: 17px;
}

.errorButton:active {
	background: #0000ff;
}

.errBtn {
	display: flex;
	justify-content: space-around;
}

/* ############# responsive #################### */
@media screen and (max-width: 600px) {
	footer {
		width: 100%;
	}

	header {
		padding: 0 10px;
		width: calc(100% - 20px);
	}
}

@media screen and (max-width: 600px) {
	.bodyContent {
		margin-bottom: 90px;
	}
}